body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    color: #FF0000;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #104E8B;
}
